//Variables

$darkThemePrimaryColor: #212739;
$darkThemeSecondaryColor: #212739;
$contrastingPrimaryColor: #1bce7c;
$contrastingSecondaryColor: darken($contrastingPrimaryColor, 10%);

$fontStackTittle: 'Raleway', sans-serif;

$white: #fff;
$black: #000;
$hyperlink: #86a0f1;
$bodyText: #5f6061;


$width : 30%;
$centerLeft : (100% - $width)/2;
