
.team-member-holder {
    position: relative;
    overflow: hidden;

}

.team-member-image {
    display: block;
    float: left;
    line-height: 0;
    position: relative;
    overflow: hidden;
    z-index: 9;
}


.team-member-links:hover{
  overflow-y: hidden;
	max-height: 500px; /* approximate max height */
display: block;
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}



@media (max-width:1023px) {
    .team-member.type_half .team-member-image {
        width: 120px;
    }

    .team-member.type_half .team-member-meta {
        padding-left: 30px;
        margin-left: 120px;
        min-height: 120px;
    }

    .team-member.type_half .team-member-links {
        min-height: 120px;
    }

    .team-member.type_half .team-member-links:after {
        top: 60px;
    };
}

@media (min-width:480px) and (max-width:767px) {
    .team-member.type_main .team-member-image {
        width: 150px;
    }

    .team-member.type_main .team-member-meta {
        padding-left: 30px;
        margin-left: 150px;
        min-height: 150px;
    }

    .team-member.type_main .team-member-links {
        min-height: 150px;
    }

    .team-member.type_main .team-member-links:after {
        top: 75px;
    }

    .team-member.type_small {
        width: 24.99%;
    }

    .team-member.type_half {
        width: 100%;
    };
}

@media (max-width:479px) {
    .team-member,.team-member.type_half,.team-member.type_small {
        width: 100%;
    }

    .team-member-image,.team-member.type_half .team-member-image {
        float: none;
        width: 100%;
        z-index: 11;
    }

    .team-member-meta,.team-member.type_half .team-member-meta {
        padding-left: 0;
        margin-left: 0;
        padding-top: 10px;
    }

    .team-member-links-list,.team-member.type_half .team-member-links-list {
        margin-left: 0;
    };
}


.avatar1 {
	background-image: url('../img/team/thumbnail/Di.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #ffffff;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto;
}
.avatar2 {
	background-image: url('../img/team/hector.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #ffffff;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto;
}
.avatar3 {
	background-image: url('../img/team/team-03.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #ffffff;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto;
}
.avatar4 {
	background-image: url('../img/team/team-01.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #ffffff;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto;
}
.avatar5 {
	background-image: url('../img/team/team-02.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #ffffff;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto;
}
.avatar6 {
	background-image: url('../img/team/team-03.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #ffffff;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto;
}
