/*Small devices (landscape phones, 576px and up)*/


@media screen and (max-width: 540px) {

  .sy-slide > a > img {
    height: 120px;
      width: 100%;
  }


  .navbar-brand img {
      width: 100%;
  }

  .centerSmallScreen{
    right: 38%;
  }

  .landing-text-pos h2 {
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 0.0em;
      text-transform: uppercase;
      padding: 0 1%;
  }

  .learn-more-btn {
    background: none repeat scroll 0 0 #1bce7c;
    display: block;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 0px;
    margin: .6em auto 0;
    padding: 5px;
    text-transform: uppercase;
    width: 100px;
}

  .dimmed div {
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 15%;
    width: 70%;
    color: #fff;
    display: block;
    padding: 0.5rem;
    /* Needs prefixing */
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }

  .navBarVertical {
    padding-top: 20px !important;
  }

  @include customPadding(landscapePhones);

  .go_up {
    margin-top: -150px !important;
  }

  .customNavbar {
    nav div {
      display: block;
    }
    ul {
      display: none;
      position: static;
      li {
        display: block;
      }
      ul {
        position: static;
      }
    }
  }


.right {
  position: absolute;
  right: 0px;
  width: auto;
  padding: 10px;
}

/*Biography */

.team-member-holder {
  position: relative;
  overflow: hidden;
  padding-top: 5%;
padding-left: 0% !important;
}

.team-wrap .container {
  padding-bottom: 50px;
}

.team-member {
  display: block;
  margin: 0 auto 50px;
  width: 100%;
  max-width: 350px;
  padding: 0;
}

.team-member-image {

  overflow: hidden;
  height: 0;
  /*width: 100%;*/
  padding-bottom: 100%;
  img {
    max-width: 100%;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  &:hover img {
    transform: scale(1.1);
    overflow: hidden;
    -webkit-transform: rotate(10deg) scale(1.2);
    -moz-transform: rotate(10deg) scale(1.2);
    -ms-transform: rotate(10deg) scale(1.2);
    -o-transform: rotate(10deg) scale(1.2);
    transform: rotate(10deg) scale(1.2);
  }
 }
}
