/*Medium devices (tablets, 768px and up)*/

@media screen and (max-width: 992px) {
  .customNavbar ul {
      display: none;}

}

@media screen and (max-width: 840px) {

  @include customPadding(tablet);

  .buttonNavbar {
position: relative;

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      position: relative;
      li {
        display: inline-block;
        a {
          text-decoration: none;
          padding: 6px;
          display: block;
          color: #fff;
          font-family: raleway;
          font-size: 1em;
          font-weight: 500;
          letter-spacing: 0.2em;
          text-transform: uppercase;
        }
ul{
  display: none;
}
      }
      ul {
        position: absolute;
        min-width: 200px;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        li {
          display: block;
        }
      }

    }
    nav div {
      padding: 0.6em;
      cursor: pointer;
      display: none;
    }
  }

  .dimmed div {
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 15%;
    width: 70%;
    color: #fff;
    display: block;
    padding: 0.5rem;
    /* Needs prefixing */
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
  .navBarVertical {
    padding-top: 20px !important; }


  .go_up{
    margin-top: -150px !important;
  }

 }
