/* Pages Styles */

.pageTitle{
background-color: $darkThemeSecondaryColor;
    color: $white;
    font-size: 2.5em;
    font-weight: 700;
    letter-spacing: .3em;
    text-transform: uppercase;
    font-family: $fontStackTittle;
}
#contact-form {
  .sr-only{
    color: $black;
  }

  input::placeholder {
  color: $bodyText;
  }

textarea::placeholder{
    color: $bodyText;
}
}


.pageContent{
background-color: $white;
color: $black;

}

.pageContent h2{
  color: rgb(27, 206, 124);
font-size: 1.5em;
font-weight: 600;
letter-spacing: 0.2em;
text-transform: uppercase;
margin: 0.83em 0px;
}

#SlideOnClick {
  .service-box{
    padding-bottom: 1em;
  }
  a {
    font:inherit;
    vertical-align:baseline;

    font-size: 1.0em;
    padding: 1em .5em;

    color: #212639;
    text-decoration: underline;

    &:hover {
      color: #171a27;
    }
    &:active {
      color: #373b4c;
    }

    &:hover{
      color: #171a27;
      text-decoration: none;
    }
  }
}


.titleSection{
  @include section($darkThemePrimaryColor, $white, topHeader)
}

.titleSection2{
  @include section($darkThemePrimaryColor, $white, restHeader)
}

.bodySection{
  @include section($white, $bodyText, body)
}

.footerSection{
  @include section($white, $bodyText, footer)
}

.pagesBodyHeading{
   font-weight: 400 !important;
 letter-spacing: 0em !important;
}
