/* Pages Styles */

.pageTitle{
background-color: $darkThemeSecondaryColor;
    color: $white;
    font-size: 2.5em;
    font-weight: 700;
    letter-spacing: .3em;
    text-transform: uppercase;
    font-family: $fontStackTittle;
}
#contact-form .sr-only{
  color: $black;
}


.pageContent{
background-color: $white;
color: $black;

}

.pageContent h2{
  color: rgb(27, 206, 124);
font-size: 1.5em;
font-weight: 600;
letter-spacing: 0.2em;
text-transform: uppercase;
margin: 0.83em 0px;
}


.dimmed div {
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 25%;
  width: 50%;
  color: #fff;
  display: block;
  padding: 0.5rem;
  /* Needs prefixing */
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
