/******************************************************************************
  Charts
*******************************************************************************/
.chart {
  position: relative;
  text-align: center;
}
.jqstooltip {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.graph  text {
  overflow: hidden !important;
}
.morris-hover {
  z-index: 700;
}