
.team-member-holder {
    position: relative;
    overflow: hidden;

}

.team-member-image {
    display: block;
    float: left;
    line-height: 0;
    position: relative;
    overflow: hidden;
}


.team-member-links:hover{
  overflow-y: hidden;
	max-height: 500px; /* approximate max height */
display: block;
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}



@media (max-width:1023px) {
    .team-member.type_half .team-member-image {
        width: 120px;
    }

    .team-member.type_half .team-member-meta {
        padding-left: 30px;
        margin-left: 120px;
        min-height: 120px;
    }

    .team-member.type_half .team-member-links {
        min-height: 120px;
    }

    .team-member.type_half .team-member-links:after {
        top: 60px;
    };
}

@media (min-width:480px) and (max-width:767px) {
    .team-member.type_main .team-member-image {
        width: 150px;
    }

    .team-member.type_main .team-member-meta {
        padding-left: 30px;
        margin-left: 150px;
        min-height: 150px;
    }

    .team-member.type_main .team-member-links {
        min-height: 150px;
    }

    .team-member.type_main .team-member-links:after {
        top: 75px;
    }

    .team-member.type_small {
        width: 24.99%;
    }

    .team-member.type_half {
        width: 100%;
    };
}

@media (max-width:479px) {
    .team-member,.team-member.type_half,.team-member.type_small {
        width: 100%;
    }

    .team-member-image,.team-member.type_half .team-member-image {
        float: none;
        width: 100%;
    }

    .team-member-meta,.team-member.type_half .team-member-meta {
        padding-left: 0;
        margin-left: 0;
        padding-top: 10px;
    }

    .team-member-links-list,.team-member.type_half .team-member-links-list {
        margin-left: 0;
    };
}

.avatar0 {
  background-image: url('../assets/img/team/thumbnail/charbonneau.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #ffffff;
  width: 100px;
  height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 0 auto;
}

.avatar1 {
	background-image: url('../assets/img/team/thumbnail/Di.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #ffffff;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto;
}
.avatar2 {
	background-image: url('../assets/img/team/thumbnail/hector.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #ffffff;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto;
}
.avatar3 {
	background-image: url('../assets/img/team/thumbnail/manfei.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #ffffff;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto;
}
.avatar4 {
	background-image: url('../assets/img/team/thumbnail/afshin_samia_kalantari.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #ffffff;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto;
}
.avatar5 {
	background-image: url('../assets/img/team/thumbnail/marion.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #ffffff;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto;
}
.avatar6 {
	background-image: url('../assets/img/team/thumbnail/jorgebar.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #ffffff;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto;
}
.avatar7 {
	background-image: url('../assets/img/team/thumbnail/yaqi.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #ffffff;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto;
}
.avatar8 {
	background-image: url('../assets/img/team/thumbnail/claudia_hardie.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #ffffff;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto;
}
.avatar9 {
	background-image: url('../assets/img/team/thumbnail/mayuri_valvekar.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #ffffff;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto;
}
.avatar10 {
	background-image: url('../assets/img/team/thumbnail/jay_janowski.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #ffffff;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto;
}

.avatar11 {
	background-image: url('../assets/img/team/thumbnail/huichao.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #ffffff;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto;
}

.avatar12 {
	background-image: url('../assets/img/team/thumbnail/ramon.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #ffffff;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto;
}
.avatar13 {
	background-image: url('../assets/img/team/thumbnail/veronique.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #ffffff;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto;
}
.avatar14 {
	background-image: url('../assets/img/team/thumbnail/Lenka.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #ffffff;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto;
}
.avatar15 {
	background-image: url('../assets/img/team/thumbnail/Monica_Piccardi_small.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #ffffff;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto;
}
.avatar16 {
	background-image: url('../assets/img/team/thumbnail/Emiliano_Demarchi.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #ffffff;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto;
}
.avatar17 {
	background-image: url('../assets/img/team/thumbnail/francisco.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #ffffff;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto;
}
.avatar18 {
	background-image: url('../assets/img/team/thumbnail/connie_cordoba.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #ffffff;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto;
}
.avatar19 {
	background-image: url('../assets/img/team/thumbnail/aj.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #ffffff;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto;
}
.avatar20 {
	background-image: url('../assets/img/team/thumbnail/zack.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #ffffff;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto;
}
.avatar21 {
	background-image: url('../assets/img/team/thumbnail/pedro_melgarejo.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #ffffff;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto;
}
.avatar22 {
	background-image: url('../assets/img/team/thumbnail/Prasanth_Krishnan.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #ffffff;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto;
}

.avatar23 {
	background-image: url('../assets/img/team/thumbnail/sathiya_kumaran.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #ffffff;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto;
}

.avatar24 {
	background-image: url('../assets/img/team/thumbnail/Varun_Vats.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #ffffff;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto;
}

.avatar25 {
	background-image: url('../assets/img/team/thumbnail/anjaligola.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #ffffff;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto;
}

.avatar26 {
	background-image: url('../assets/img/team/thumbnail/Krishnendra_Nathella_small.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #ffffff;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto;
}
.avatar27 {
	background-image: url('../assets/img/team/thumbnail/nikhil_suryanarayanan.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #ffffff;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto;
}

.avatar28 {
	background-image: url('../assets/img/team/thumbnail/Lilian.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #ffffff;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto;
}

.avatar29 {
	background-image: url('../assets/img/team/thumbnail/WenLi.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #ffffff;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto;
}
