/* Accordian Module*/
.highlight {
  background-color: honeydew;
}

#accordion {

  .atab {
    position: relative;
    margin-bottom: 10px;
    width: 100%;
    color: black;
    overflow: hidden;
    border: 2px 2px 2px 2px;
  }

  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  label {
    position: relative;
    display: block;
    padding: 0 0 0 1em;
    font-weight: bold;
    line-height: 3;
    cursor: pointer;
    color: black;
  }

  .atab-content {
    max-height: 0;
    margin-top: 10px;
    @include centerPadding(90%);
    overflow: hidden;
    background: #e3e3e3;
    -webkit-transition: max-height 0.35s;
    -o-transition: max-height 0.35s;
    transition: max-height 0.35s;
  }

  .atab-content p {
    margin: 1em;
    font-size: 1em;
  }

  input:checked ~ .atab-content {
    max-height: 100%;
  }

  label::after {
    position: absolute;
    right: 0;
    top: -15px;
    display: block;
    width: 3em;
    height: 4em;
    line-height: 3;
    text-align: center;
    -webkit-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
  }

  input[type=checkbox]+label::after {
    content: "+";
    font-size: 1.5em;
    right: -20px;
    color: $contrastingSecondaryColor;
  }

  input[type=checkbox]:checked+label::after {
    transform: rotate(315deg);
  }

  input[type="checkbox"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
  }
}
