/*People Page*/

#team{

}


#opportunities {

}


.opportunities{
  background: $darkThemePrimaryColor;
}


.opportunities p {
	color: #f9f9f9;
}

.opportunities h2 {
	color: #1bce7c;
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 0.2em;
    margin: 0.83em 0;
    text-transform: uppercase;
}

.opportunities h1 {
	color: #ffffff;
}
.opportunities .md-content{
	padding:0;
}

.thisIsATestClass{
  color: red;
}
