/*Search Bar*/

#searchBar{
  input[type=text] {
      width: 50%;
      margin-left: 25%;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      background-image: url('img/icons/searchicon.png');
      background-color: white;
      background-position: 10px 13px;
      background-repeat: no-repeat;
      padding: 12px 20px 12px 40px;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
  }

  input[type=text]:focus {
    margin-left: 0%;
      width: 100%;
  }

  select {
      width: 50%;
      margin-left: 25%;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      background-image: url('img/icons/searchicon.png');
      background-color: white;
      background-position: 10px 13px;
      background-repeat: no-repeat;
      padding: 12px 20px 12px 40px;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
  }
  select:focus {
    margin-left: 0%;
      width: 100%;
  }


}
